@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#27AE60;
}

.textt{
    font-size: 2.2rem;
    color: #a6a6a6;;
    padding:.5rem 0;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    line-height: 1.5;
}

a{
    color: #fff;
}

th{
    font-size:2.3em;
    text-align: left;
    padding-left: 3px;
    color:  #a6a6a6;
}
.h11{
    color: #e6e6e6;
    font-size:2.5em;
    text-align: left;
    padding-left: 3px;
}
td{
    font-size: 2.0rem;
    color:#999999;
    padding:.5rem 0;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: #191d2b;
    padding-left: 30rem;
    color: #fff;
}

section{
    padding:1rem 5%;
    min-height: 100vh;
}

.heading{
    font-size: 4rem;
    padding-bottom: 1rem;
    color:#fff;
    text-transform: uppercase;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background:var(--main-color);
    color:#fff;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:#111;
    letter-spacing: .2rem;
}

header{
    position: fixed;
    top:0; left:0; bottom:0;
    background:#222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding:8rem 2rem;
    width:30rem;
    text-align: center;
}

header .logo{
    text-transform: uppercase;
    color:#fff;
    font-size: 3rem;
    font-weight: bolder;
}

header .logo span{
    text-transform: uppercase;
    color:var(--main-color);
}

header .navbar a{
    display: block;
    font-size: 2rem;
    color:#fff;
    margin:2rem 0;
}

header .navbar a:hover{
    letter-spacing: .2rem;
    color:var(--main-color);
}

header .follow a{
    font-size: 2.5rem;
    color:#fff;
    margin:0 .7rem;
}

header .follow a:hover{
    color:var(--main-color);
}

#menu-bars{
    position: fixed;
    top:1rem; right: 1rem;
    z-index: 10000;
    background:var(--main-color);
    color:#fff;
    border-radius: .5rem;
    padding:1rem 1.5rem;
    font-size: 3rem;
    cursor:pointer;
    display: none;
}

.cursor-1{
    position: absolute;
    top:0; left:0;
    height:1rem; width:1rem;
    background: var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
}

.cursor-1.active{
    height:7rem;
    width:7rem;
    opacity: .3;
}

.cursor-2{
    position: absolute;
    top:0; left:0;
    height:4rem; width:4rem;
    border:.1rem solid var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    transition: .3s linear;
}

.cursor-2.active{
    display: none;
}

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.home .image{
    flex:1 1 40rem;
}

.home .image img{
    width:100%;
}

.home .content{
    flex:1 1 40rem;
}

.home .content .hi{
    font-size: 2rem;
    color:var(--main-color);
}

.home .content h3{
    font-size: 4.5rem;
    color:#fff;
    text-transform: uppercase;
}

.home .content h3 span{
    color:var(--main-color);
    text-transform: uppercase;
}

.home .content .info{
    font-size: 2.5rem;
    color:#111;
    padding:.5rem 0;
}

.home .content .text{
    font-size: 1.7rem;
    color:#a6a6a6;
    padding:.5rem 0;
}

.about .row-1{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-bottom: 0.5rem;
}

.about .row-1 .image{
    flex:1 1 25rem;
}

.about .row-1 .image img{
    height: 100%;
    width:100%;
    object-fit: fill;
    border:1rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.about .row-1 .content{
    flex:1 1 50rem;
}

.about .row-1 .content h3{
    color:#fff;
    font-size: 3.5rem;
}

.about .row-1 .content p{
    color:#a6a6a6;
    font-size: 1.7rem;
    padding:.5rem 0;
}

.about .row-1 .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:0.5rem;
    padding: 0.5rem 0;
}

.about .row-1 .content .box-container .box{
    flex:1 1 10rem;
}

.about .row-1 .content .box-container .box span{
    color:var(--main-color);
}

.about .row-2{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.about .row-2 .skills{
    flex:1 1 40rem;
}

.about .row-2 .skills .progress{
    padding:1rem 0;
}

.about .row-2 .skills .progress h3{
    display: flex;
    justify-content: space-between;
    padding:.7rem 0;
    font-size: 1.7rem;
    color:#111;
    font-weight: 400;
}

.about .row-2 .skills .progress .bar{
    width:100%;
    background:#ccc;
    overflow:hidden;
    height:1rem;
    border-radius: 50rem;
}

.about .row-2 .skills .progress .bar span{
    display:block;
    height:100%;
    background:var(--main-color);
    border-radius: 50rem;
}

.about .row-2 .skills .progress:nth-child(1) .bar span{
    width:95%;
}

.about .row-2 .skills .progress:nth-child(2) .bar span{
    width:80%;
}

.about .row-2 .skills .progress:nth-child(3) .bar span{
    width:75%;
}

.about .row-2 .skills .progress:nth-child(4) .bar span{
    width:85%;
}

.about .row-2 .box-container{
    flex:1 1 40rem;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.about .row-2 .box-container .box{
    flex:1 1 15rem;
    background:#fff;
    padding:2rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.about .row-2 .box-container .box h3{
    color:var(--main-color);
    font-size: 3rem;
}

.about .row-2 .box-container .box p{
    color:#666;
    font-size: 1.7rem;
    padding-top: .5rem;
}

.service .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.service .box-container .box{
    flex:1 1 30rem;
    text-align: center;
    padding:2rem;
    background:#fff;
    border-radius: .5rem;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

.service .box-container .box i{
    height:6rem;
    width:6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color:#fff;
    background:var(--main-color);
    border-radius: 50%;
}

.service .box-container .box h3{
    color:#444;
    font-size: 2.2rem;
    padding-top: 1rem;
}

.service .box-container .box p{
    color:#666;
    font-size: 1.7rem;
    padding-top: .5rem;
}

.experience .box-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.experience .box-container .box{
    position: relative;
    flex:1 1 20rem;
    border-left: .2rem solid var(--main-color);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;    
}

.experience .box-container .box::before{
    content: '';
    position: absolute;
    top:0; left:-1rem;
    height:2rem;
    width:2rem;
    border-radius: 50%;
    background:var(--main-color);
}

.experience .box-container .box .content{
    background:#2a2e35;
    padding:1.5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.experience .box-container .box .content span{
    color:#fff;
    font-size: 1.7rem;
    background:#e38548;
    border-radius: 50rem;
    padding:.4rem 1rem;
}

.experience .box-container .box .content h3{
    font-size: 2.5rem;
    padding:.5rem 0;
    color:#d9d9d9;
}

.experience .box-container .box .content p{
    font-size: 1.5rem;
    color:#a6a6a6;
}

.portfolio .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.portfolio .box-container .box{
    flex:1 1 30rem;
    height:25rem;
    position: relative;
    overflow:hidden;
    border:1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background:#fff;
    border-radius: .5rem;
}

.portfolio .box-container .box img{
    height:100%;
    width:100%;
    object-fit: fill;
    border-radius: .5rem;
    position: relative;
    z-index: 1;
}

.portfolio .box-container .box:hover img{
    height:75%;
    width:75%;
}

.portfolio .box-container .box h3{
    position: absolute;
    bottom:.5rem; left:1rem;
    font-size: 2.5rem;
    color:#333;
    text-transform: uppercase;
}

.portfolio .box-container .box .icons{
    position: absolute;
    top:1rem; right:1rem;
}

.portfolio .box-container .box .icons a{
    display: block;
    height:4rem;
    width:4rem;
    border-radius: .5rem;
    background: #eee;
    color:#333;
    font-size: 1.7rem;
    line-height: 4rem;
    text-align: center;
    margin-bottom: 1rem;
}

.portfolio .box-container .box .icons a:hover{
    background:var(--main-color);
    color:#fff;
}

.contact .icons-container{
    display: flex;
    gap:0.5rem;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 1rem;
}

.contact .icons-container .icons{
    flex:1 1 19rem;
    text-align: center;
    padding:1rem;
    color: white;
    background:#2a2e35;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.contact .icons-container .icons i{
    height:5rem;
    width:5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--main-color);
    color:#fff;
    border-radius: 50%;
}

.contact .icons-container .icons h3{
    color:white;
    font-size: 2rem;
    padding:.5rem 0;
    padding-top: 1rem;
}

.contact .icons-container .icons p{
    color:#666;
    font-size: 1.7rem;
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.contact .row form{
    flex:1 1 35rem;
    background:#191d2b;
    padding:0 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    
}

.contact .row .map{
    flex:1 1 25rem;
    border:1rem solid var(--main-color);;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    width: 100%;
}

.contact .row form .box,
.contact .row form textarea{
    width: 100%;
    border-bottom: .1rem solid #333;
    color:#333;
    text-transform: none;
    font-size: 1.7rem;
    padding:1rem 1rem;
    margin:1rem 0;
    background-color: #2a2e35;
    border-radius: 25px;

}

.contact .row form .box:focus,
.contact .row form textarea:focus{
    border-color: aqua;
}

.contact .row form .box::placeholder,
.contact .row form textarea::placeholder{
    text-transform: capitalize;
}

.contact .row form textarea{
    height: 20rem;
    resize: none;
}

.contact .row form .btn{
    margin-top: 0;
    margin-bottom: 0.5rem;
}




.blogs-content {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    margin-top: 3rem;
  }
  
  .blogs-content .blog {
    position: relative;
    background-color: var(--color-grey-5);
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
    -webkit-transition: var(--transition-04);
    transition: var(--transition-04);
  }
  
  .blogs-content .blog img {
    width: 100%;
    height: 300px;
    object-fit: fill;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -o-object-fit: fill;
       object-fit: fill;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: var(--transition-04);
    transition: var(--transition-04);
  }
  
  .blogs-content .blog:hover {
    -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
            box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transition: var(--transition-04);
    transition: var(--transition-04);
  }
  
  .blogs-content .blog:hover img {
    object-fit: fill;
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.8);
            box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.8);
  }
  


  .blogs-content .blog .blog-text {
    padding: 1.1rem;
    margin-top: -5px;
    border-top: 8px solid var(--color-secondary);
  }
  
  .blogs-content .blog .blog-text h4 {
    font-size: 1.5rem;
    margin-bottom: .7rem;
    -webkit-transition: var(--transition-04);
    transition: var(--transition-04);
    cursor: pointer;
  }
  
  .blogs-content .blog .blog-text h4:hover {
    color: var(--color-secondary);
  }
  
  .blogs-content .blog .blog-text p {
    color: var(--color-grey-2);
    line-height: 2rem;
    padding-bottom: 1rem;
  }
  
  .main-title h2 {
    font-size: 2rem;
  }
  .main-title h2 span {
    font-size: 2.5rem;
  }
  .main-title h2 .bg-text {
    font-size: 3rem;
  }

  /*fff*/
  .port-text {
    padding: 2rem 0;
    text-align: center;
  }
  
  .portfolios {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
  }
  
  .portfolios .portfolio-item {
    position: relative;
    border-radius: 15px;
  }
  
  .portfolios .portfolio-item img {
    width: 100%;
    height: 300px;
    -o-object-fit: fill;
       object-fit: fill;
    border-radius: 15px;
  }
  
  .portfolios .portfolio-item .hover-item {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--color-secondary);
    left: 0;
    top: 0;
    border-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: var(--transition-04);
    transition: var(--transition-04);
  }
  
  .portfolios .portfolio-item .hover-item h3 {
    font-size: 2.0rem;
    color: var(--color-white);
    margin-bottom: 1.5rem;
  }
  
  .portfolios .portfolio-item .hover-item .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .portfolios .portfolio-item .hover-item .icons .icon {
    background-color: var(--color-primary);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 1rem;
    -webkit-transition: var(--transition-04);
    transition: var(--transition-04);
  }
  
  .portfolios .portfolio-item .hover-item .icons .icon i {
    font-size: 2.5rem;
    color: var(--color-white);
    margin: 0 1rem;
  }
  
  .portfolios .portfolio-item .hover-item .icons .icon:hover {
    background-color: var(--color-white);
  }
  
  .portfolios .portfolio-item .hover-item .icons .icon:hover i {
    color: var(--color-primary);
  }
  
  .portfolio-item:hover .hover-item {
    background-color:var(--main-color);;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  
  
  @media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    body{
        padding: 0;
    }

    #menu-bars{
        display: initial;
    }

    header{
        left:-120%;
    }

    header.active{
        left:0%;
    }

    .cursor-1,
    .cursor-2{
        display: none;
    }
    .portfolios {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
        margin-top: 3rem;
      }

    .blogs-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
        margin-top: 3rem;
      }  
      .divc{
        padding-left: 40px;
        
    }
}

  

@media screen and (max-width:450px){

    html{
        font-size: 50%;
    }
    .portfolios {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-gap: 2rem;
        margin-top: 3rem;
      }

    header{
        width:100%;
    }

    .experience .box-container .box{
        padding-right: 0;
    }
    th{
        font-size:2.3em;
        font-weight: 400;
        text-align: left;
        padding-left: 3px;
    }
    td{
        font-size:2.3em;
    }
    .blogs-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
        margin-top: 3rem;
      }  
      .divc{
        padding-left: 40px;
    }  

      
}